/* .main {
    margin-top: 5em;
    align-items: center;
  }
  
  .center {
    justify-content: center;
    padding: 10px;
  }
  
  .ui.search input {
    width: 100%;
    border-radius: 0 !important;
  }
  
  .item {
    padding: 15px 0px !important;
  }
  
  i.icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
  } */

body {
  text-align: center;
  background-color: aqua;

}

.item {
  padding: 10px 0px !important;
}

.field1 {
  padding: 5px;
}

.field2 {
  padding: 5px;
}

/* .ui button blue{
  background-color: blue;
} */

h2 {
  font-size: 40px;
  padding: 0px;
}

.ui fixed menu {
  padding: 0px;
}

.button {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  color: aliceblue;
  background-color: blue;
  border: 2px solid white;
  align-items: center;
}